<div class="container-fluid">
  <div class="row list-container">
   
    <div class="col-md-12">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp:reverse  track by $index"
            class="thumbnail phone-listing">
          <a href="" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
          <div class="phonelist name">{{phone.name}}</div>
          <div class="phonelist snippet">{{phone.snippet}}</div>
          <div class="phonelist price">Price : {{phone.price}}</div>
           <div class="phonelist rating">Rating : {{phone.rating}}</div>
          <div class="phonelist stock"><b>{{phone.stock}}</b> in stock.</div>

          <!-- <span>{{phone.price}}</span>
          <span>{{phone.rating}}</span>
          <span>{{phone.stock}}</span> -->
          <div ng-controller="ModalDemoCtrl" class="upd-del">
            <a class='btn' ng-click="remove(phone)"><span class="glyphicon glyphicon-trash update-delete-icon" aria-hidden="true"></span></a>
            <a class='btn' ng-click="open('lg',phone)"><span class="glyphicon glyphicon-pencil update-delete-icon" aria-hidden="true"></span></a> 
           <!--  <a class="btn" ng-click="remove(phone)">Delete</a>
            <a class='btn' ng-click="">Update</a>  -->
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>
