<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-12 ">
      <!--Body content-->

      <div class="phones">
        <div ng-repeat="phone in phones | filter:search | orderBy:orderProp:reverse"
            class="thumbnail phone-listing col-md-4 col-sm-6 panel panel-default ">

          <a href="" class="thumb"><img ng-src="{{phone.imageUrl}}" class="gridImg"></a>
          <div class="x">
            <div class="phonegrid name1">{{phone.name}}</div>
            <!-- <div class="phonegrid snippet">{{phone.snippet}}</div> -->
            <div class="phonegrid price1">Price : {{phone.price}}</div>
            <div class="phonegrid rating1">Rating : {{phone.rating}}</div>
            <div class="phonegrid stock1"><b>{{phone.stock}}</b> in stock.</div>
            <div class="upd-del">
             <a class='btn' ng-click="remove(phone)"><span class="glyphicon glyphicon-trash update-delete-icon" aria-hidden="true"></span></a>
            <a class='btn' ng-click="update(phone)"><span class="glyphicon glyphicon-pencil update-delete-icon" aria-hidden="true"></span></a> 
            </div>
          </div>
          
        </div>
      </div>

    </div>
  </div>
</div>
